#imagee {
    height: 400px;
    width: 95%; 

}
.cont a i {
    float: right;
    color :gray;
    font-size: 2em;
    padding-left: 20px;
}
.cont a  {
    background-color: wheat;
}
.cont img {
    color: wheat;
}
.cont figure {
    background-color: #efefef;
}


.card-footer {
    background-color: white;
    text-align: center;
    border: none;
    
}
.card-footer span {
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.card-footer a {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;

}
.badge-success {
    background-color: #28a745;
    font-weight: 400;
    padding-left: 0.25em 0.4em;
    text-align: center;
    vertical-align: baseline;
}



.widget ul li a {
    text-decoration: none;
    color: black;
}
.widgets {
    margin-top: 50px;
}
.widgets .widgets-title {
    margin-top: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}
.fab:hover {
    color: red;
}
.range  {
    text-align: center;
}
.range input[type=range]::-webkit-slider-runnable-track {
   
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}