.cart-dropdown {
    position: absolute; 
    top:200px;
    right: 40px;
    width: 400px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
    background-color:red;
    
}
.cart-item-body {
    
    position: relative;
    flex: 1;
    padding-left: 0.9375rem;
 }    

 .cart-item-title {
        margin-bottom: 0;
        font-size: 1rem; }
.cart-item img {
    max-width: 5rem; }

    .eyebrow {
        display: inline-block;
        font-size: 0.75rem;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .1em; }

        .cart-item {
            display: flex; }

